@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Lato&display=swap");

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: url(/images/bg-intro-desktop.png);
  background-color: hsl(0, 100%, 74%);
}

main {
  display: flex;
  align-items: center;
  width: 60%;
  justify-content: space-between;
}

.main-text {
  color: white;
}

.main-text h1 {
  font-size: 60px;
  text-align: left;
}

.main-text p {
  font-size: 18px;
  line-height: 25px;
}

.form .form-banner {
  position: absolute;
  top: -15%;
  width: 100%;
  background-color: hsl(248, 32%, 49%);
  color: white;
  padding: 19px 0px;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 6px rgba(0, 0, 0, 0.15);
  letter-spacing: 1px;
}

.form {
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 10px 0px 45px;
  margin-left: 70px;
  width: 90%;
  box-shadow: 0 8px rgba(0, 0, 0, 0.2);
}

.form p {
  margin: 0;
  font-size: 10px;
}

.submit {
  margin-top: 20px;
  width: 86.5%;
  color: white;
  text-transform: uppercase;
  border: none;
  background-color: hsl(154, 59%, 51%);
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  padding: 18px 20px;
}

.submit:hover {
  background-color: rgba(56, 204, 140, 0.7);
}

form .form-input-fname.invalid,
form .form-input-lname.invalid,
form .email.invalid,
form .password.invalid {
  border: 2px solid hsl(0, 100%, 74%);
  background-image: url(images/icon-error.svg);
  background-repeat: no-repeat;
  background-position: right 20px center;
}

form .form-input-fname.invalid::placeholder,
form .form-input-lname.invalid::placeholder,
form .email.invalid::placeholder,
form .password.invalid::placeholder {
  opacity: 0;
}

form .warning-text-fname,
form .warning-text-lname,
form .warning-text-email,
form .warning-text-password {
  display: none;
  font-size: 12px;
  width: 86%;
  text-align: right;
  padding: 5px;
  font-style: italic;
  color: hsl(0, 100%, 74%);
}

form .warning-text-fname.invalid,
form .warning-text-lname.invalid,
form .warning-text-email.invalid,
form .warning-text-password.invalid {
  display: block;
}

input {
  padding: 15px 0px 15px 30px;
  width: 80%;
  border-radius: 5px;
  margin-top: 30px;
  border: 2px solid hsl(248, 22%, 93%);
  font-size: 14px;
  font-weight: bold;
}

input:focus {
  border-color: hsl(248, 32%, 49%);
  outline: hsl(248, 22%, 93%);
  color: hsl(249, 10%, 26%);
}

form .terms-and-services-text {
  font-size: 12px;
  margin-top: 17px;
  color: hsl(246, 25%, 77%);
}

form .terms-and-services-link {
  text-decoration: none;
  font-weight: bold;
  color: hsl(0, 100%, 74%);
}

footer {
  position: absolute;
  bottom: 0;
  color: white;
}

@media screen and (max-width: 500px) {
  main {
    display: flex;
    flex-direction: column;
  }

  .main-text {
    width: 75vw;
    position: relative;
    top: -120px;
  }

  .main-text h1 {
    font-size: 36px;
    text-align: center;
  }

  .main-text p {
    font-size: 22px;
    font-weight: 100;
    text-align: center;
    line-height: 25px;
  }

  main .form {
    margin: 0;
    height: 34vh;
    width: 60vw;
    padding: 0px 5px 95px;
    line-height: 23px;
    text-align: center;
    position: relative;
    bottom: -20px;
  }

  .form .form-banner {
    position: relative;
    top: -33px;
    padding: 16px 55px;
  }

  .form input {
    margin: 8px;
    padding: 15px 0px 15px 20px;
  }

  form .terms-and-services-text {
    width: 44vw;
    margin: 5px 0px 0px;
  }

  .form .submit {
    padding: 18px 20px;
  }

  .form .form-banner {
    width: 40vw;
    line-height: 25px;
  }
}
